<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ryan y wang</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> 
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-47452844-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
      <div class="container">
        <div class="header">
          ryan y wang || {{ page.title }}
        </div>
        <div class="nav">
          <ul>
            <li><a href="{{ url_for("page", path="about") }}">about</a>
            <li><a href="{{ url_for("page", path="blog") }}">blog</a>
            <li><a href="{{ url_for("page", path="projects") }}">projects</a>
            <!-- TODO: <li><a href="{{ url_for("page", path="self") }}">quantified self</a> -->
          </ul>
        </div>
        <div class="body">
          {% block content %}            
            {{ page.html|safe }}          
          {% endblock %}
        </div>
        <div class="footer">
          <p> &copy; Ryan Wang 2014 </p>
          <p>
            Find me on <i class="fa fa-github"></i> <a href="https://github.com/ryw90">GitHub</a>, <i class="fa fa-linkedin"></i> <a href="http://www.linkedin.com/in/ryanywang">LinkedIn </a>, or <i class="fa fa-twitter"></i> <a href="https://twitter.com/ryw90">Twitter</a>.
          </p>
        </div>
      </div>      
  </body>
</html>
