/* fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);

/* general style */
body    { font: 17px 'Roboto', sans-serif; font-weight: 300; }
a       { color: black; font-weight: 400; }
a:hover { color: #70A19A; }

/* layout elements */
div.container               { margin: 25px auto; padding 0 2em; max-width: 650px; }
div.body                    { clear: both; }
div.header                  { float: left; }
div.nav                     { float: right; }
div.nav ul                  { list-style: none; margin: 0; }
div.nav ul li               { display: inline; padding: 5px;}
div.header, div.nav         { height: 25px; margin-bottom: 25px; }

/* margins and stuff */
p                               { margin: 25px 0 25px 0; }
li                              { padding: 0; }
h1 + p.date                     { margin-top: -25px; }

/* blog overview */
div.entry                  { margin: 25px 50px 25px 50px; }
div.entry div.summary,
div.entry div.summary p    { display: inline; line-height: 25px; margin: 0; padding: 0; }
div.entry div.detail       { margin-left: 125px; }
div.entry div.published    { float: left; width: 100px; color: #70A19A; margin-right: 25px;
                             text-align: right; font-size: 14px; }
                                    